_vim/bundle/
_vim/.netrwhist
_config/fish/fish_history
_config/fish/fishd.*
_config/chromium
_config/NuGet/
_config/Unreal Engine/
_config/configstore/
_config/gcloud/
_config/heroku/
_config/thefuck/
_config/xbuild/
