_vim/bundle/
_vim/.netrwhist
_config/Baumer/
_config/chromium
_config/Code
_config/Code - Insiders/
_config/compiz-1/
_config/configstore/
_config/dconf
_config/eog/
_config/evince/
_config/evolution/
_config/fish/fishd.*
_config/fish/fish_history
_config/gcloud/
_config/gedit/
_config/geeqie/
_config/git/
_config/gnome-control-center/
_config/gnome-initial-setup-done
_config/gnuplot/
_config/google-chrome/
_config/gtk-2.0
_config/gtk-3.0/
_config/heroku/
_config/htop/
_config/ibus/
_config/libreoffice/
_config/lxterminal/
_config/menus/
_config/mimeapps.list
_config/monitors.xml
_config/nautilus/
_config/NuGet/
_config/pavucontrol.ini
_config/pulse/
_config/sakura/
_config/Slack/
_config/thefuck/
_config/Trolltech.conf
_config/Unreal Engine/
_config/user-dirs.dirs
_config/user-dirs.locale
_config/xbuild/
_config/rncbc.org/
_config/zoomus.conf
