_vim/bundle/
_vim/.netrwhist
_config/fish/fish_history
_config/fish/fishd.*
_config/chromium
_config/NuGet/
_config/Unreal Engine/
_config/configstore/
_config/gcloud/
_config/heroku/
_config/thefuck/
_config/xbuild/
_config/Code
_config/dconf
_config/gtk-2.0
_config/Slack/
_config/evince/
_config/evolution/
_config/gnome-control-center/
_config/gnome-initial-setup-done
_config/gtk-3.0/
_config/ibus/
_config/libreoffice/
_config/menus/
_config/mimeapps.list
_config/monitors.xml
_config/nautilus/
_config/pavucontrol.ini
_config/pulse/
_config/user-dirs.dirs
_config/user-dirs.locale
